# data
data/*
!data/.gitkeep
*.csv
*.zip
*parquet

# folders
document
__pycache__
examples

# scripts
constants.py

# notebooks
test.ipynb

# Docker
docker-compose.yaml
Dockerfile

# logs
script_logs/*
!script_logs/.gitkeep
#logs
*.log

# vscode
.vscode

# envs
.env
Pipfile.lock

# others
.idea
.ipynb_checkpoints
requirements.txt
!dags/cf/get-data-upload-to-gcs/requirements.txt
!dags/cf/raw-schema-processed/requirements.txt
.prettierrc
dags/cf/raw-schema-processed/schemas.py