# data
data/*
!data/.gitkeep
*.csv
*.zip
*parquet

# folders
__pycache__
examples

# scripts
constants.py

# notebooks
test.ipynb

# Docker
docker-compose.yaml
Dockerfile

# logs
script_logs/*
!script_logs/.gitkeep
#logs
*.log

# vscode
.vscode

# envs
.env
Pipfile.lock

# others
.idea
.ipynb_checkpoints
.prettierrc
cloud_functions/raw-schema-processed/schemas.py
cloud_functions/sql